#Python
__pycache__/
*.py[cod]
*.db
*.sqlite
*.sqlite3

backend/.venv/
backend/.env
backend/.env.*

#DB files
backend/telemetry.db

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# OS / editors
.DS_Store
.vscode/
.idea/
